<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="scommerce_analyticssync_checkout_cart_product_add_after" instance="Scommerce\AnalyticsSync\Observer\CheckoutCartProductAddAfterObserver" />
    </event>
</config>
